

*{ margin:0; padding:0; font-family:Verdana, Geneva, sans-serif;}
.clear{ clear:both;}
.center{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
img{ border:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
li{ list-style-type:none;}
body{ background:#373737;}
.p20{ padding:20px;}
.hoverimg{  cursor: pointer;  transition: all 0.5s;  }
.hoverimg:hover{  transform: scale(1.2); }  


.container{ width:1100px; padding:0px; height:auto; margin:auto;}
/*----------------head-----------------*/
header{ width:1100px; height:auto; margin:0px auto;}
nav{ width:1100px; height:80px; margin:0px auto;}
nav ul{ padding-left:10px;}
nav li{ float:left; padding:0px 20px; margin:0px 10px; }
nav li a{ font-size:22px; line-height:80px; color:#fff; font-family:Georgia, "Times New Roman", Times, serif}
nav li a:hover{ color:#85efda; text-decoration:none;}
nav li:hover{ }

/*----------------main-----------------*/
.main{ width:1100px; height:auto; margin:10px auto; font-size:14px; line-height:24px; color:#555;}
.main h2{font-size:22px; line-height:66px; color:#64552a; text-align:center;}
.main p{font-size:16px; line-height:30px; color:#64552a; text-indent:0em;}


/*-------------About--------------*/
.About{ width:1080px; height:auto; margin:30px auto;}
.About_l{ width:500px; height:auto; float:left;}
.About_r{ width:420px; padding:30px; height:auto; float:right;}
.About h2{ padding-top:50px;font-size:32px; line-height:66px; color:#fff; text-align:left;}
.About p{ padding-top:10px;font-size:14px; line-height:25px; color:#eee; text-indent:0em;}



.flink{ width:380px; height:auto; margin:10px; position:absolute; margin-top:-620px; margin-left:50px;}
.flink li{ width:50px; height:auto;float:left; margin:8px; text-align:center;}
.flink li img{ width:50px;height:auto; margin:10px auto; text-align:center;}


/*-------------PHOTOS--------------*/
.PHOTOS{ width:1080px; height:auto; margin:30px auto;}
.PHOTOS h2{ padding-top:50px;font-size:32px; line-height:66px; color:#fff; text-align:left;}
.PHOTOS p{ padding-top:10px;font-size:14px; line-height:25px; color:#eee; text-indent:0em;}
.PHOTOS_l{ width:400px; height:auto; float:left;}
.PHOTOS_r{ width:620px; padding:30px; height:auto; float:right;}

/*----------PHOTOS_list--------*/
.PHOTOS_list{ width:1080px; height:auto; margin:30px auto;}
.PHOTOS_list ul {}
.PHOTOS_list li{ width:330px; height:auto;float:left; margin:10px; text-align:center;}
.PHOTOS_list li img{ width:330px;height:auto; margin:10px auto; text-align:center;}



/*----------TICKETS--------*/
.TICKETS{ width:1080px; height:auto; margin:30px auto;}
.TICKETS h2{ padding-top:50px;font-size:32px; line-height:120px; color:#fff; text-align: center; font-weight:normal;}
.TICKETS h2 a{  color:#fff; text-align:center;}

.TICKETS_list{ width:1080px; height:auto; margin:0px auto;}
.TICKETS_list ul {}
.TICKETS_list li{ width:320px; height:auto;float:left; margin:20px; text-align:center;}
.TICKETS_list li img{ width:320px;height:auto; margin:10px auto; text-align:center; border:5px solid #66c3b0;}
.TICKETS_list p{font-size:14px; line-height:22px;color:#fff;text-align:left;}

.tp{ width:320px; height:40px; margin:20px auto; border:2px solid #fff;}
.tp h3{ float:left; padding-left:10px;font-size:16px; line-height:40px; color:#fff; text-align: left; font-weight:normal;}
.tp span{ float:right;  width:100px; height:40px; background:#fff;font-size:18px; line-height:40px; color:#111; text-align: center ; font-weight:normal;}





