

/*----------------------common-------------------------*/
*{ margin:0; padding:0; font-family:Verdana, Geneva, sans-serif;}
.clear{ clear:both;}
.center{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
img{ border:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
li{ list-style-type:none;}
.mt30{ margin-top:30px;}
body{ background:#feecd8;}


.con{ width:1100px; padding:10px; height:auto; margin:auto;}
/*----------------head-----------------*/
header{ width:1100px; height:auto; margin:50px auto;}

.logo{ width:120px; height:120px; position:absolute; margin-left:480px; margin-top:-30px;}
nav{ width:1100px; height:50px; margin:15px auto;border-top:2px solid #64552a; border-bottom:2px solid #64552a;}
nav ul{ padding-left:10px;}
nav li{ float:left; padding:5px 40px; margin:0px 30px; }
nav li a{ font-size:26px; line-height:40px; color:#64552a; font-family:Georgia, "Times New Roman", Times, serif}
nav li a:hover{ color:#64552a; text-decoration:none;}
nav li:hover{ background:#ac9b7d;}



.lunbo{ width:1100px; height:350px; margin:5px auto; overflow:hidden;-moz-border-radius:5px;border-radius:5px;}
/*----------------main-----------------*/
.main{ width:1100px; height:auto; margin:10px auto; font-size:14px; line-height:24px; color:#555;}
.main h2{font-size:22px; line-height:66px; color:#64552a; text-align:center;}
.main p{font-size:16px; line-height:30px; color:#64552a; text-indent:0em;}


.jsjs{ width:1080px; height:auto; margin:0px auto;}
.jsjs li{ width:250px; height:auto;float:left; margin:8px; text-align:center;}
.jsjs li img{ width:120px;height:auto; margin:10px auto; text-align:center;}
.jsjs p{font-size:14px; line-height:22px;color:#64552a;text-align:center;}


.flink{ width:380px; height:auto; margin:0px ;}
.flink li{ width:50px; height:auto;float:left; margin:8px; text-align:center;}
.flink li img{ width:50px;height:auto; margin:10px auto; text-align:center;}


/*-------------About--------------*/
.About{ width:1080px; height:auto; margin:30px auto;}
.About ul {}
.About li{ width:330px; height:auto;float:left; margin:10px; text-align:center;}
.About li img{ width:330px;height:auto; margin:10px auto; text-align:center;}

.titlea{ width:800px; height:auto; margin:30px auto;}

.more{ width:200px; height:60px; margin:10px; float:right; border:3px solid #594a25; font-size:26px; line-height:60px; text-align:center;}
.more a{ color:#594a25; font-size:26px; line-height:60px; text-align:center;}
.more:hover{border:3px solid #ac9b7d;}
.more:hover a{color:#ac9b7d;}

.moreb{ width:180px; height:50px; margin:10px; float:right; border:3px solid #594a25; font-size:22px; line-height:50px; text-align:center;}
.moreb a{ color:#594a25; font-size:26px; line-height:50px; text-align:center;}
.moreb:hover{border:3px solid #ac9b7d;}
.moreb:hover a{color:#ac9b7d;}

.morec{ width:180px; height:50px; margin:20px auto; border:3px solid #594a25; font-size:22px; line-height:50px; text-align:center;}
.morec a{ color:#594a25; font-size:26px; line-height:50px; text-align:center;}
.morec:hover{border:3px solid #ac9b7d;}
.morec:hover a{color:#ac9b7d;}

.mored{ width:200px; height:50px; margin:0px ; margin-top:50px; border:3px solid #594a25; font-size:22px; line-height:50px; text-align:center;}
.mored a{ color:#594a25; font-size:22px; line-height:50px; text-align:center;}
.mored:hover{border:3px solid #ac9b7d;}
.mored:hover a{color:#ac9b7d;}

/*----------------Menu-----------------*/
.Menu_l{ width:600px; height:auto; float:left;}
.Menu_r{ width:420px; height:auto; float:right;}

.lunbo{ width:600px; height:auto; margin:5px auto; }
.mainbox{    overflow:hidden;    position:relative;}
.flashbox{   overflow:hidden;    position:relative;}
.imagebox{    text-align:right;position:relative;}
.bitdiv{display:inline-block;width:12px;height:12px;margin:10px 15px 10px 0px;cursor:pointer;float:right;}
.defimg{background-image:url(../images/02.png)}
.curimg{background-image:url(../images/01.png)}

/*---------------Locations-----------------*/
.Locations{ width:900px; height:auto; padding:10px; margin:auto; margin-top:100px; background:#acc7a8;}
.Locations_l{ width:280px; height:auto; float:left;}
.Locations_r{ width:600px; height:auto; float:right;}
/*--------------Join Us--------*/
.Join{ width:220px; height:auto; margin:30px auto;}
.Join h2{font-size:25px; line-height:50px; text-align:left; color:#64552a;}
.Join p{font-size:25px; line-height:50px; text-align:left; color:#64552a;text-align:center;}
.Join a{ color:#594a25; font-size:16px; line-height:50px; text-align:left; text-decoration:underline;}
.login_div{ width:220px; height:auto; margin:0px auto;background:#fff; background-color:rgba(255,255,255,0.8); padding:50px;-moz-border-radius:50px;border-radius:50px;}
.login_div h2{font-size:28px; line-height:50px; color:#ad1414; text-align: center; font-weight:normal; border-bottom:1px dotted #ad1414;}
.login_info{width:220px; height:auto; margin:20px auto;font-size:14px; line-height:30px; color:#666;}
.input{ width:220px; height:30px; padding:1px 5px; border:1px solid #594a25; background:none; font-size:14px; color:#333; outline:none;}
.sub{width:120px; height:40px; padding:0px; margin:0px; float:left; background:none; border:1px solid #594a25; text-align:center;font-size:18px; line-height:40px; color:#594a25; }
.sub:hover{ border:1px solid #827150;}
.sub a{ font-size:18px; color:#fff;}
/*----------------BEST-----------------*/
.BEST{ width:920px; height:auto; margin:auto; margin-top:100px; background:#acc7a8;}
.BEST_l{ width:400px; height:auto; float:left;}
.BEST_l h2{ padding-top:50px;font-size:35px; line-height:50px; text-align:left; color:#23211f;}
.BEST_l h3{font-size:16px; line-height:25px; text-align:left; color:#23211f;}
.BEST_l p{ padding:20px;font-size:15px; line-height:30px; text-align:left; color:#64552a;text-align:left;}
.BEST_r{ width:520px; height:auto; float:left;}
/*----------------DRINKS-----------------*/
.DRINKS{ width:1050px; height:auto; margin:30px auto;}
.DRINKS_l{ width:400px; height:auto; float:left;}
.DRINKS_r{ width:620px; height:auto; float:right;}



/*----------------footer-----------------*/
footer{ width:1100px; height:50px; margin:10px auto; padding-top:10px; border-top:3px solid #ffca2c; text-align:center; font-size:14px; line-height:24px; color:#666;}
 

.himg{  cursor: pointer;           transition: all 0.6s;          }  
.himg:hover{              transform: scale(1.1);          }  














